Yoio_Park_Proof/
.idea/
.venv/
model_julius/
julius_model/balanced_labels_bike_rack.csv
julius_model/data_useable.pickle
julius_model/model_bike_rack_1.h5
julius_model/test_img.pickle
model_arthur/models/
local_data/
model_arthur/
all_models_combine/models